jupyter-book
jupyter-contrib-nbextensions
git+https://github.com/mkrphys/ipython-tikzmagic.git

numpy==1.21.5
numpy-stl
scipy
sympy
matplotlib
pint
fluids

# testing
pytest
pytest-cov
coverage
nbmake
